div.dropdown-wrapper
  ul
    li.dropdown-header
      ul
        li(ng-click="itemClick()", id="itemId")
          img
          div.content
            div.main
              | {{selected.name}}
            div.sub
              | {{selected.description}}
    li.dropdown-selector
      ul
        li(ng-repeat="list in lists", ng-show="show", ng-click="setValue(list.id, $index)")
          img
          div.content
            div.main
              | {{list.name}}
            div.sub
              | {{list.description}}