html {
  color: #333; }

.super-dark-grey-bg {
  background: #333; }

.grey-bg {
  background: #999; }

.white-bg {
  background: #FFF; }

.navbar {
  padding: 10px 15px 10px 15px;
  background: rgba(255, 255, 255, 0.5); }
  .navbar .navbar-search {
    margin-top: 5px; }

.banner-wrapper {
  height: 300px;
  background: #333; }
  .banner-wrapper .btn-wrapper.btn-navigator button.right {
    border: 0;
    background: transparent;
    color: white;
    float: right;
    font-size: 60px;
    margin-right: 20px;
    margin-top: calc((300px/2) - (60px/2)); }
  .banner-wrapper .btn-wrapper.btn-navigator button.left {
    border: 0;
    background: transparent;
    color: white;
    float: left;
    font-size: 60px;
    margin-left: 20px;
    margin-top: calc((300px/2) - (60px/2)); }

.product-wrapper {
  padding: 20px;
  overflow-x: scroll; }
  .product-wrapper .item-wrapper::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none; }
  .product-wrapper .item-wrapper {
    overflow-x: scroll;
    display: inline-flex; }
    .product-wrapper .item-wrapper .item {
      padding: 20px; }
      .product-wrapper .item-wrapper .item .img-wrapper {
        height: 200px;
        width: 200px;
        background: #666;
        margin: auto;
        border-radius: 50%; }
      .product-wrapper .item-wrapper .item .content {
        text-align: center;
        margin-top: 20px; }
        .product-wrapper .item-wrapper .item .content .name {
          font-size: 1.5em; }
        .product-wrapper .item-wrapper .item .content .price {
          font-size: 2em; }

.howto-wrapper {
  padding: 100px; }
  .howto-wrapper .item-wrapper {
    margin: auto;
    width: fit-content;
    display: flex; }
    .howto-wrapper .item-wrapper .step-wrapper {
      display: flex; }
      .howto-wrapper .item-wrapper .step-wrapper .item {
        padding: 20px;
        text-align: center; }
        .howto-wrapper .item-wrapper .step-wrapper .item .img-wrapper {
          width: 150px;
          height: 150px;
          background: #333;
          border-radius: 50%; }
        .howto-wrapper .item-wrapper .step-wrapper .item .description {
          margin-top: 20px; }
      .howto-wrapper .item-wrapper .step-wrapper .arrow-wrapper {
        margin-top: 90px;
        display: flex; }
        .howto-wrapper .item-wrapper .step-wrapper .arrow-wrapper .arrow-body {
          display: flex; }
          .howto-wrapper .item-wrapper .step-wrapper .arrow-wrapper .arrow-body .circle {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #333;
            margin-right: 8px; }
        .howto-wrapper .item-wrapper .step-wrapper .arrow-wrapper .arrow-head {
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid #333;
          margin-top: -10px; }

.review-wrapper {
  padding: 100px; }
  .review-wrapper .content-wrapper {
    border: solid 1px #999;
    background: white;
    width: 100%;
    height: 300px;
    padding: 20px;
    display: flex;
    position: relative; }
    .review-wrapper .content-wrapper .img-wrapper {
      height: 150px;
      width: 150px;
      background: #333;
      border-radius: 50%;
      margin: 50px; }
    .review-wrapper .content-wrapper .comment-info-wrapper {
      text-align: right;
      position: absolute;
      right: 70px;
      margin-top: 50px;
      overflow: scroll;
      height: 150px; }
      .review-wrapper .content-wrapper .comment-info-wrapper .customer-info {
        margin-top: 20px; }
        .review-wrapper .content-wrapper .comment-info-wrapper .customer-info .name {
          font-size: 1em; }
        .review-wrapper .content-wrapper .comment-info-wrapper .customer-info .company {
          font-size: 0.8em; }
      .review-wrapper .content-wrapper .comment-info-wrapper .comment-wrapper .comment {
        font-size: 2em;
        font-style: italic; }
    .review-wrapper .content-wrapper .comment-info-wrapper::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      display: none; }

.example-wrapper {
  padding: 100px; }
  .example-wrapper .item-wrapper {
    display: -webkit-box; }
    .example-wrapper .item-wrapper .item {
      padding: 20px; }
      .example-wrapper .item-wrapper .item .img-wrapper {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #999; }
