html {
  color: #333; }

.grey-bg {
  background: #999; }

.navbar {
  padding: 10px 15px 10px 15px;
  background: rgba(255, 255, 255, 0.5); }
  .navbar .navbar-search {
    margin-top: 5px; }

.banner-wrapper {
  height: 300px;
  background: #333; }
  .banner-wrapper .btn-wrapper.btn-navigator button.right {
    border: 0;
    background: transparent;
    color: white;
    float: right;
    font-size: 60px;
    margin-right: 20px;
    margin-top: calc((300px/2) - (60px/2)); }
  .banner-wrapper .btn-wrapper.btn-navigator button.left {
    border: 0;
    background: transparent;
    color: white;
    float: left;
    font-size: 60px;
    margin-left: 20px;
    margin-top: calc((300px/2) - (60px/2)); }

.product-wrapper {
  padding: 20px;
  display: inline-flex; }
  .product-wrapper .item {
    padding: 20px; }
    .product-wrapper .item .img-wrapper {
      height: 200px;
      width: 200px;
      background: #666;
      margin: auto; }
    .product-wrapper .item .content {
      text-align: center;
      margin-top: 20px; }
      .product-wrapper .item .content .name {
        font-size: 1.5em; }
      .product-wrapper .item .content .price {
        font-size: 2em; }
