@font-face {
  font-family: bangna;
  src: url("../fonts/bangna-new.ttf"); }

html {
  color: #00B900; }
  html a {
    border-bottom: dashed 1px white; }

body {
  font-family: bangna; }

.super-dark-grey-bg {
  background: #333; }

.darker-green-bg {
  background: #009800; }

.base-green-bg {
  background: #00B900;
  color: white; }

.grey-bg {
  background: #999;
  color: white; }

.white-bg {
  background: #FFF;
  color: #00B900; }

.navbar {
  padding: 10px 15px 10px 15px;
  background: rgba(255, 255, 255, 0.5); }
  .navbar .navbar-search {
    margin-top: 5px; }

.banner-wrapper {
  height: 80vh;
  background: transparent; }
  .banner-wrapper .slide {
    margin: auto;
    color: white;
    height: inherit;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 0; }
  .banner-wrapper .active {
    display: block;
    transition: 1s;
    opacity: 1; }
  .banner-wrapper .btn-wrapper {
    width: fit-content;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1;
    margin-top: 70vh;
    display: flex; }
    .banner-wrapper .btn-wrapper .btn {
      padding: 5px;
      margin: 5px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      border: 0; }
    .banner-wrapper .btn-wrapper .btn:hover {
      background: white; }
    .banner-wrapper .btn-wrapper .btnactive {
      background: white; }
    .banner-wrapper .btn-wrapper a {
      border-bottom: 0; }

.product-wrapper {
  padding: 100px;
  overflow-x: hidden; }
  .product-wrapper .header {
    text-align: center;
    line-height: 2em;
    font-size: 2em;
    font-weight: bold; }
  .product-wrapper .slide {
    display: flex; }
    .product-wrapper .slide .item-wrapper::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      display: none; }
    .product-wrapper .slide .item-wrapper {
      overflow-x: scroll;
      display: inline-flex;
      width: 100%; }
      .product-wrapper .slide .item-wrapper .item {
        padding: 70px; }
        .product-wrapper .slide .item-wrapper .item .img-wrapper {
          height: 200px;
          width: 200px;
          background: #666;
          margin: auto;
          border-radius: 50%; }
        .product-wrapper .slide .item-wrapper .item .content {
          text-align: center;
          margin-top: 20px; }
          .product-wrapper .slide .item-wrapper .item .content .name {
            font-size: 1.5em; }
          .product-wrapper .slide .item-wrapper .item .content .price {
            font-size: 2em; }
    .product-wrapper .slide .button-wrapper {
      margin-top: 150px; }
      .product-wrapper .slide .button-wrapper .button {
        border: 0;
        font-size: 2em; }

.howto-wrapper {
  padding: 100px; }
  .howto-wrapper .item-wrapper {
    margin: auto;
    width: fit-content;
    display: flex; }
    .howto-wrapper .item-wrapper .step-wrapper {
      display: flex; }
      .howto-wrapper .item-wrapper .step-wrapper .item {
        padding: 20px;
        text-align: center; }
        .howto-wrapper .item-wrapper .step-wrapper .item .img-wrapper {
          width: 150px;
          height: 150px;
          background: #00B900;
          border-radius: 50%; }
        .howto-wrapper .item-wrapper .step-wrapper .item .description {
          margin-top: 20px; }
      .howto-wrapper .item-wrapper .step-wrapper .arrow-wrapper {
        margin-top: 90px;
        display: flex; }
        .howto-wrapper .item-wrapper .step-wrapper .arrow-wrapper .arrow-body {
          display: flex; }
          .howto-wrapper .item-wrapper .step-wrapper .arrow-wrapper .arrow-body .circle {
            width: 100px;
            height: 2px;
            background: #00B900; }
        .howto-wrapper .item-wrapper .step-wrapper .arrow-wrapper .arrow-head {
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid #00B900;
          margin-top: -10px; }
  .howto-wrapper .item-wrapper-overlay {
    margin: auto;
    width: fit-content;
    display: flex;
    position: absolute; }
    .howto-wrapper .item-wrapper-overlay .step-wrapper {
      display: flex; }
      .howto-wrapper .item-wrapper-overlay .step-wrapper .item {
        padding: 20px;
        text-align: center; }
        .howto-wrapper .item-wrapper-overlay .step-wrapper .item .img-wrapper {
          width: 150px;
          height: 150px;
          background: #999;
          border-radius: 50%; }
        .howto-wrapper .item-wrapper-overlay .step-wrapper .item .description {
          margin-top: 20px; }
      .howto-wrapper .item-wrapper-overlay .step-wrapper .arrow-wrapper {
        margin-top: 90px;
        display: flex; }
        .howto-wrapper .item-wrapper-overlay .step-wrapper .arrow-wrapper .arrow-body {
          display: flex; }
          .howto-wrapper .item-wrapper-overlay .step-wrapper .arrow-wrapper .arrow-body .circle {
            width: 100px;
            height: 2px;
            background: #999; }

.review-wrapper {
  padding: 150px;
  position: relative;
  height: 600px; }
  .review-wrapper .bullet-wrapper {
    position: absolute;
    bottom: 120px;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    width: fit-content; }
    .review-wrapper .bullet-wrapper .bullet {
      padding: 5px;
      border-radius: 50%;
      border: solid 1px #00B900;
      margin: 5px;
      z-index: 2; }
    .review-wrapper .bullet-wrapper .bullet:hover {
      background: rgba(0, 185, 0, 0.3); }
    .review-wrapper .bullet-wrapper .active {
      background: #00B900; }
  .review-wrapper .content-wrapper {
    background: white;
    width: 90%;
    height: 350px;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 1px #00B900; }
    .review-wrapper .content-wrapper .img-wrapper {
      height: 150px;
      width: 150px;
      background: white;
      position: absolute;
      top: -70px;
      margin: auto;
      left: 0;
      right: 0;
      opacity: 0;
      z-index: 1; }
      .review-wrapper .content-wrapper .img-wrapper img {
        border-radius: 50%;
        opacity: 1; }
    .review-wrapper .content-wrapper .comment-info-wrapper {
      color: #00B900;
      position: absolute;
      text-align: center;
      margin-top: 120px;
      left: 0;
      right: 0;
      opacity: 0;
      z-index: 1; }
      .review-wrapper .content-wrapper .comment-info-wrapper .customer-info {
        margin-top: 20px; }
        .review-wrapper .content-wrapper .comment-info-wrapper .customer-info .name {
          font-size: 1em; }
        .review-wrapper .content-wrapper .comment-info-wrapper .customer-info .company {
          font-size: 0.8em; }
      .review-wrapper .content-wrapper .comment-info-wrapper .comment-wrapper .comment {
        font-size: 2em;
        font-style: italic; }
    .review-wrapper .content-wrapper .active {
      display: block;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      opacity: 1; }
    .review-wrapper .content-wrapper .comment-info-wrapper::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      display: none; }

.example-wrapper {
  padding: 100px; }
  .example-wrapper .item-wrapper {
    display: -webkit-box; }
    .example-wrapper .item-wrapper .item {
      padding: 20px; }
      .example-wrapper .item-wrapper .item .img-wrapper {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #999; }

.footer-wrapper {
  padding: 100px;
  padding-top: 80px;
  padding-bottom: 10px; }
  .footer-wrapper .section-wrapper {
    vertical-align: top; }
    .footer-wrapper .section-wrapper .section a {
      color: white; }
    .footer-wrapper .section-wrapper .section .content .social-icon-wrapper {
      margin-top: 20px;
      padding-left: 0;
      display: grid; }
      .footer-wrapper .section-wrapper .section .content .social-icon-wrapper .social-icon {
        padding: 5px;
        display: inline-flex; }
        .footer-wrapper .section-wrapper .section .content .social-icon-wrapper .social-icon a {
          display: inherit;
          border-bottom: 0; }
          .footer-wrapper .section-wrapper .section .content .social-icon-wrapper .social-icon a .contact-icon {
            font-size: 1.5em;
            padding-right: 20px; }
          .footer-wrapper .section-wrapper .section .content .social-icon-wrapper .social-icon a .contact-text {
            font-size: 1em;
            margin-top: 0.5em; }
    .footer-wrapper .section-wrapper .section .content .list ul {
      margin-left: -5px; }
      .footer-wrapper .section-wrapper .section .content .list ul li {
        list-style: none; }
    .footer-wrapper .section-wrapper .section .header {
      margin-bottom: 20px;
      font-size: 2em; }
    .footer-wrapper .section-wrapper .section:not(:last-child) {
      padding-right: 30px; }

.credit-wrapper {
  text-align: center;
  padding: 20px;
  font-size: 0.8em;
  padding-bottom: 80px; }

@media (max-width: 576px) {
  .footer-wrapper .section-wrapper {
    display: block; }
    .footer-wrapper .section-wrapper .section {
      width: 100%; } }

@media (min-width: 576px) {
  .footer-wrapper .section-wrapper {
    display: block; }
    .footer-wrapper .section-wrapper .section {
      width: 100%; } }

@media (min-width: 768px) {
  .footer-wrapper .section-wrapper {
    display: block; }
    .footer-wrapper .section-wrapper .section {
      width: 100%; } }

@media (min-width: 992px) {
  .footer-wrapper .section-wrapper {
    display: -webkit-inline-box; }
    .footer-wrapper .section-wrapper .section {
      width: calc(100%/3); } }
