div.banner-wrapper(ng-controller="BannerCtrl")
	div.slide(ng-repeat="banner in banners")
	div.btn-wrapper.btn-navigator
		button.left
			span.icon
				i.fa.fa-angle-left
		button.right
			span.icon
				i.fa.fa-angle-right