div.banner-wrapper(ng-controller="BannerCtrl")
	div.slide(ng-repeat="banner in banners", ng-class="{ active: $index == activeIndex }")
		| {{banner.img}}
	div.btn-wrapper
		a(ng-repeat="banner in banners", ng-click="slideTo($index)")
			button.btn(ng-class="{ btnactive: $index == activeIndex }")
		