div.example-wrapper(ng-controller="ExampleCtrl")
	div.header
		span.hilight
			| ผลงานที่ผ่านมา
	div.mini-showcase-wrapper
		div.img-wrapper(ng-repeat="example in examples", id="showcase{{$index}}")
			| {{$index}}