div.example-wrapper(ng-controller="ExampleCtrl")
	div.header
		span.hilight
			| {{webContent.languagepack_example_000001}}
	div.mini-showcase-wrapper
		div.img-wrapper(ng-repeat="example in examples", id="showcase{{$index}}")
			| {{$index}}
