div.footer-wrapper
	div.section-wrapper
		div.section
			div.header
				h1
					| hello
			div.content
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
		div.section
			div.header
				h1
					| hello
			div.content
				div.list
					ul
						li
							a
								| (link)
						li
							a
								| (link)
						li
							a
								| (link)
		div.section
			div.header
				h1
					| hello
			div.content
				div.social-icon-wrapper
					div