div.footer-wrapper(ng-controller="FooterCtrl")
	div.section-wrapper
		div.section
			div.header
				h1
					| Who's Rachaprinting?
			div.content
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
		div.section
			div.header
				h1
					| Links
			div.content
				div.list
					ul
						li
							a(ng-click="goTo('about')")
								| เกี่ยวกับเรา
						li
							a
								| link
						li
							a
								| link
		div.section
			div.header
				h1
					| Contact
			div.content
				div.social-icon-wrapper
					div.social-icon(ng-repeat="contact in contacts")
						a
							div.contact-icon
								i.icon
									span(class="fa {{contact.icon}}")
							div.contact-text
								| {{contact.text}}