div.howto-wrapper(ng-controller="HowtoCtrl")
	div.header
		| สั่งง่ายๆ แค่ 4 ขั้นตอน!
	div.item-wrapper
		div.step-wrapper(ng-repeat="step in steps")
			div.item(ng-click="showOverlay($index)")
				div.img-wrapper
					img
				div.description
					| {{step.description}}
			div.arrow-wrapper(ng-if="!$last")
				div.arrow-body
					div.circle