div.howto-wrapper(ng-controller="HowtoCtrl")
	div.item-wrapper
		div.step-wrapper(ng-repeat="step in steps")
			div.item
				div.img-wrapper
					img
				div.description
					| {{step.description}}
			div.arrow-wrapper(ng-if="!$last")
				div.arrow-body
					div.circle
					div.circle
					div.circle
					div.circle
					div.circle
				div.arrow-head