div.howto-wrapper(ng-controller="HowtoCtrl")
	div.header
		| สั่งง่ายๆ แค่ 4 ขั้นตอน!
	div.item-wrapper
		div#stepDesktop.step-wrapper(ng-repeat="step in steps")
			div.step
				| {{$index+1}}
			div.item(ng-click="moveStep($index)", id="step{{$index}}")
				div.img-wrapper(ng-if="$index !== 0")
					img
				div.img-wrapper.active(ng-if="$index === 0")
					img
				div.description
					| {{step.description}}
			div.arrow-wrapper(ng-if="!$last")
				div.arrow-body
					div.circle(id="stepArrow{{$index}}")