div.howto-wrapper(ng-controller="HowtoCtrl")
	div.header
		span.hilight
			|{{webContent.languagepack_howto_000001}}
		span.lowlight
			| {{webContent.languagepack_howto_000002}}
		span.hilight
			| {{webContent.languagepack_howto_000003}}
	div.item-wrapper
		div#stepDesktop.step-wrapper(ng-repeat="step in steps")
			div.step
				| {{$index+1}}
			div.item(ng-click="moveStep($index)", id="step{{$index}}")
				div.img-wrapper(ng-if="$index !== 0")
					img
				div.img-wrapper.active(ng-if="$index === 0")
					img
				div.description
					| {{step.description}}
				div.step-detail-desktop-wrapper.active(id="stepDetailDesktop{{$index}}", ng-if="$index === 0")
					div.step-detail-desktop(ng-repeat="detail in step.details")
						div.icon-wrapper
							i.icon
								span.fa(class="{{detail.icon}}")
						div.content
							| {{detail.content}}
				div.step-detail-desktop-wrapper(id="stepDetailDesktop{{$index}}", ng-if="$index !== 0")
					div.step-detail-desktop(ng-repeat="detail in step.details")
						div.icon-wrapper
							i.icon
								span.fa(class="{{detail.icon}}")
						div.content
							| {{detail.content}}
			div.arrow-wrapper(ng-if="!$last")
				div.arrow-body
					div.circle(id="stepArrow{{$index}}")
	div.step-detail-wrapper
		div.step-detail-item(ng-repeat="step in steps")
			div.img-wrapper
				img(ng-src="/assets/img/Macbook.png")
			div.step-by-step-wrapper.active(ng-if="$index === 0", id="stepDetail{{$index}}")
				div.step-by-step(ng-repeat="detail in step.details")
					div.icon-wrapper
						i.icon
							span.fa(class="{{detail.icon}}")
					div.content
						| {{detail.content}}
			div.step-by-step-wrapper(id="stepDetail{{$index}}", ng-if="$index !== 0")
				div.step-by-step(ng-repeat="detail in step.details")
					div.icon-wrapper
						i.icon
							span.fa(class="{{detail.icon}}")
					div.content
						| {{detail.content}}
