div(ng-include="templates.navbar")
div.base-green-bg(ng-include="templates.banner")
div.separator
div.white-bg(ng-include="templates.product")
div.separator
div.white-bg(ng-include="templates.howto")
div.separator
div.white-bg(ng-include="templates.review")
div.separator
div.white-bg(ng-include="templates.example")
div.base-green-bg(ng-include="templates.footer")
div.base-green-bg(ng-include="templates.credit")