div(ng-include="templates.navbar")
div(ng-include="templates.banner")
div.grey-bg(ng-include="templates.product")
div.white-bg(ng-include="templates.howto")
div.grey-bg(ng-include="templates.review")
div.white-bg(ng-include="templates.example")
div.super-dark-grey-bg(ng-include="templates.footer")
div.super-dark-grey-bg(ng-include="templates.credit")