div(ng-include="templates.navbar")
div(ng-include="templates.toTop")
div.base-green-bg(ng-include="templates.banner")
div.separator
div#service.white-bg(ng-include="templates.product")
div.separator
div#howto.white-bg(ng-include="templates.howto")
div.separator
div#review.white-bg(ng-include="templates.review")
div.separator
div#example.white-bg(ng-include="templates.example")
div.base-green-bg(ng-include="templates.footer")
div.base-green-bg(ng-include="templates.credit")