nav.navbar(ng-controller="NavbarHomeCtrl")
	div.navbar-brand
		a.navbar-item(href="/")
			img(src="http://bulma.io/images/bulma-logo.png")
	div.navbar-burger.burger(ng-click="navMobile()")
			span
			span
			span
	div#nav-mobile(ng-show="show()")
		a.navbar-item(ng-click="scrollTo(menu.section)", ng-repeat="menu in menus")
			span
				| {{menu.name}}
	div.navbar-menu.navbar-end
		a.navbar-item(ng-click="scrollTo(menu.section)", ng-repeat="menu in menus")
			span
				| {{menu.name}}
		div.navbar-search
			p.control.has-icons-left
				input.input(type="text", placeholder="ค้นหา")
				span.icon.is-left
					i.fa.fa-search
		div.navbar-item
			img(ng-src="/assets/img/th-flag.png")

	