div.order-detail-wrapper(ng-controller="OrderDetailCtrl")
	div.header
		| {{webContent.summary}}
	div.detail-wrapper(ng-click="scrollToID('mainOption')")
		div.property
			| {{webContent.mainOption.property}}
		div.value(ng-if="orderDetail.choice.name !== undefined")
			| {{orderDetail.choice.name}}
		div.value.undefined(ng-if="orderDetail.choice.name == undefined")
			| {{webContent.mainOption.unselectedValue}}
	div.detail-wrapper(ng-click="scrollToID('size')")
		div.property
			| {{webContent.format.property}}
		div.value(ng-if="orderDetail.format.name !== undefined")
			div
				| {{orderDetail.format.name}}
			div.undefined(ng-if="orderDetail.format.formatSize == undefined || orderDetail.format.formatSize.width == '' || orderDetail.format.formatSize.width == undefined || orderDetail.format.formatSize.height == '' || orderDetail.format.formatSize.height == undefined")
				| {{webContent.format.size.unselectedValue}}
			div(ng-if="orderDetail.format.formatSize !== undefined && orderDetail.format.formatSize.width !== '' && orderDetail.format.formatSize.height !== '' && orderDetail.format.formatSize.width !== undefined && orderDetail.format.formatSize.height !== undefined")
				| ({{orderDetail.format.description}})
		div.value.undefined(ng-if="orderDetail.format.name == undefined")
			| {{webContent.format.unselectedValue}}
	div.detail-wrapper
		div.property
			| {{webContent.print.property}}
		div.value
			div(ng-if="orderDetail.printColor.name !== undefined", ng-click="scrollToID('printColor')")
				| {{orderDetail.printColor.name}}
			div(ng-if="orderDetail.print.name !== undefined", ng-click="scrollToID('print')")
				| {{orderDetail.print.name}}
			div.undefined(ng-if="orderDetail.print.name == undefined", ng-click="scrollToID('printColor')")
				| {{webContent.print.printColor.unselectedValue}}
			div.undefined(ng-if="orderDetail.printColor.name == undefined", ng-click="scrollToID('print')")
				| {{webContent.print.print.unselectedValue}}
	div.detail-wrapper(ng-click="scrollToID('paperType')")
		div.property
			| {{webContent.languagepack_orderdetail_000001}}
		div.value(ng-if="orderDetail.paperType.name !== undefined")
			| {{orderDetail.paperType.name}}
		div.value.undefined(ng-if="orderDetail.paperType.name == undefined")
			|  {{webContent.languagepack_orderdetail_000002}}
	div.detail-wrapper(ng-click="scrollToID('refinement')")
		div.property
			|  {{webContent.languagepack_orderdetail_000003}}
		div.value(ng-if="orderDetail.refinement.name !== undefined")
			| {{orderDetail.refinement.name}}
		div.value.undefined(ng-if="orderDetail.refinement.name == undefined")
			|  {{webContent.languagepack_orderdetail_000004}}
	div.detail-wrapper(ng-click="scrollToID('delivery')")
		div.property
			|  {{webContent.languagepack_orderdetail_000005}}
		div.value.undefined(ng-if="orderDetail.deliveryDayAndDate == undefined")
			|  {{webContent.languagepack_orderdetail_000006}}
		div.value(ng-if="orderDetail.deliveryDayAndDate !== undefined")
			| {{orderDetail.deliveryDayAndDate.day}} {{webContent.languagepack_orderdetail_000007}} {{orderDetail.deliveryDayAndDate.date}}
	div.total-wrapper(ng-if="orderDetail.price.fullprice == undefined", ng-click="scrollToID('delivery')")
		span.undefined
			|  {{webContent.languagepack_orderdetail_000008}}
	div.total-wrapper(ng-if="orderDetail.price.fullprice !== undefined", ng-click="scrollToID('delivery')")
		span
			|  {{webContent.languagepack_orderdetail_000009}}
		span.total
			| {{orderDetail.price.fullprice}}.00
		span
			|  {{webContent.languagepack_orderdetail_000010}}
	div.order-detail-personal-detail-form
		div.header
			| {{webContent.languagepack_orderdetail_000011}}
		div.form-wrapper
			div.form
				input#cusotmerName(type="text", placeholder="{{placeholder.name}}", ng-model="customer.name")
				input#cusotmerPhone(type="text", placeholder="{{placeholder.phone}}", ng-model="customer.phone")
				input#cusotmerEmail(type="text", placeholder="{{placeholder.email}}", ng-model="customer.email")
				button(ng-click="placeOrder()")
					| {{webContent.languagepack_orderdetail_000015}}
	div.overlay(ng-show="completedOrder")
	div.summary-wrapper(ng-show="completedOrder")
		div.header
			div.icon
				i.fa.fa-check-circle
			div.content
				| {{webContent.languagepack_orderdetail_000016}}
		div.content
			span {{webContent.languagepack_orderdetail_000017}}
			span.hilight  {{orderDetail.customer.name}} 
			span {{webContent.languagepack_orderdetail_000018}}
		div.content
			span {{webContent.languagepack_orderdetail_000019}}
			span.hilight {{orderDetail.customer.phone}}
			span {{webContent.languagepack_orderdetail_000020}}
			span.hilight 24
			span {{webContent.languagepack_orderdetail_000021}}
		div.content
			span {{webContent.languagepack_orderdetail_000022}}
			span.hilight  {{orderDetail.customer.email}} 
			span {{webContent.languagepack_orderdetail_000023}}
		div.content
			span.super-hilight {{webContent.languagepack_orderdetail_000024}}
			span.hilight  {{webContent.languagepack_orderdetail_000025}} 
		div.content.end
			span.lowlight
				| {{webContent.languagepack_orderdetail_000026}} {{countdown}} {{webContent.languagepack_orderdetail_000027}}
