div.order-form-wrapper(ng-controller="OrderFormCtrl")
	div.header-wrapper
		| step 1 เลือกตัวเลือกของคุณ
		//- div.header-triangle
	div.order-step-wrapper.form
		div.topic
			| รูปแบบ
		div.selector
			div.control(ng-repeat="list in templateList")
				label.option-content-wrapper
					input(type="radio", name="type")
					div.content-wrapper
						img(ng-src="")
						content
							| {{list.name}}
	div.order-step-separator
	div.header-wrapper
		| step 2 เลือกจำนวนและความเร็วในการจัดส่ง
		//- div.header-triangle
	div.order-step-wrapper
		| 