div.order-form-wrapper
	div.header-wrapper
		| step 1 เลือกตัวเลือกของคุณ
		//- div.header-triangle
	div.order-step-wrapper
		div.topic
			| รูปแบบ
		div.selector
			div.control
				div.select
					select
						option
							| กรุณาเลือก
						option
							| 1
						option
							| 2
	div.order-step-separator
	div.header-wrapper
		| step 2 เลือกจำนวนและความเร็วในการจัดส่ง
		//- div.header-triangle
	div.order-step-wrapper
		| 