div.order-detail-wrapper(ng-controller="OrderDetailCtrl")
	div.header
		|สรุปรายการสั่งซื้อของคุณ
	div.detail-wrapper
		div.property
			| คุณเลือก
		div.value(ng-if="orderDetail.choice.name !== undefined")
			| {{orderDetail.choice.name}}
		div.value.undefined(ng-if="orderDetail.choice.name == undefined")
			| กรุณาเลือก
	div.detail-wrapper
		div.property
			| ขนาด
		div.value(ng-if="orderDetail.format.name !== undefined")
			| {{orderDetail.format.name}}
		div.value.undefined(ng-if="orderDetail.format.name == undefined")
			| กรุณาเลือก
	div.detail-wrapper
		div.property
			| การพิมพ์
		div.value(ng-if="orderDetail.printColor.name !== undefined")
			| {{orderDetail.printColor.name}} {{orderDetail.print.name}}
		div.value.undefined(ng-if="orderDetail.printColor.name == undefined")
			| กรุณาเลือก
	div.detail-wrapper
		div.property
			| ประเภทกระดาษ
		div.value(ng-if="orderDetail.paperType.name !== undefined")
			| {{orderDetail.paperType.name}}
		div.value.undefined(ng-if="orderDetail.paperType.name == undefined")
			| กรุณาเลือก
	div.detail-wrapper
		div.property
			| การเคลือบ
		div.value(ng-if="orderDetail.refinement.name !== undefined")
			| {{orderDetail.refinement.name}}
		div.value.undefined(ng-if="orderDetail.refinement.name == undefined")
			| กรุณาเลือก
	div.detail-wrapper
		div.property
			| จัดส่งวันที่
		div.value
			| xxx
	div.total-wrapper(ng-if="orderDetail.price.fullprice == undefined")
		span.undefined
			| กรุณาเลือกราคาด้านบน
	div.total-wrapper(ng-if="orderDetail.price.fullprice !== undefined")
		span
			| ค่าใช้จ่ายสุทธิ
		span.total
			| {{orderDetail.price.fullprice}}.00
		span
			| บาท
	div.order-detail-personal-detail-form
		div.header
			| โปรดกรอกข้อมูลของคุณเพื่อให้เราติดต่อกลับ
		div.form-wrapper
			div.form
				input(type="text", placeholder="ชื่อ", ng-model="customer.name")
				input(type="text", placeholder="เบอร์โทรศัพท์", ng-model="customer.phone")
				input(type="text", placeholder="อีเมลล์", ng-model="customer.email")
				button(ng-click="placeOrder()")
					| สั่งเลย
	div.overlay(ng-show="completedOrder")
	div.summary-wrapper(ng-show="completedOrder")
		div.header
			div.icon
				i.fa.fa-check-circle
			div.content
				| เราได้รับออเดอร์ของคุณเรียบร้อยแล้ว!
		div.content
			span ขอบคุณค่ะ คุณ 
			span.hilight {{orderDetail.customer.name}} 
			span ราชาการพิมพ์ได้รับคำสั่งซื้อของคุณเรียบร้อยแล้ว 
		div.content
			span พนักงานของเราจะทำการติดต่อกลับไปทางเบอร์ 
			span.hilight {{orderDetail.customer.phone}} 
			span ภายใน 
			span.hilight 24 
			span ชั่วโมง
		div.content
			span (หากทำการติดต่อทางโทรศัพท์ไม่ได้ ราชาการพิมพ์จะติดต่อคุณผ่านทาง 
			span.hilight {{orderDetail.customer.email}} 
			span ค่ะ)
		div.content
			span.super-hilight ต้องการพิมพ์ด่วนที่สุด? 
			span.hilight ติดต่อราชาการพิมพ์ได้ที่ 02-413-5661-4
		div.content.end
			span.lowlight
				| กำลังพาคุณกลับไปที่หน้าหลักของเว็บราชาการพิมพ์ภายใน {{countdown}} วินาที...