div.order-form-wrapper(ng-controller="OrderFormCtrl")
	div.header-wrapper
		| step 1 เลือกตัวเลือกของคุณ
		//- div.header-triangle
	div.order-step-wrapper.form
		div.main-choice-wrapper
			div.topic
				| คุณมีแบบสิ่งพิมพ์ที่ต้องการแล้วหรือยัง?
			div.choice-item
				div.main-choice-item
					div.option-content-wrapper
						label.upload-file-wrapper(ng-click="setMainChoice(0)")#choice1
							label(for="file").upload-file-button
								div.content
									div.main
										| มีแล้ว 
									div.sub
										| คลิ๊กเพื่ออัพโหลดรูปภาพ
							input(type="file", name="file", id="file")		
				div.main-choice-item
					div.option-content-wrapper
						label(ng-click="setMainChoice(1)")#choice2
							div.content
								div.main
									| ให้เราออกแบบให้ 
								div.sub
									| ใช้บริการออกแบบของราชาการพิมพ์ในราคาที่คุ้มค่า!
		div.property-wrapper
			div.property-item
				div.topic
					| ขนาด
				div.dropdown-wrapper
					ul
						li.dropdown-header
							ul
								li(ng-click="showFormat()")#selectedFormat
									img
									div.content
										div.main
											| {{selectedFormat.name}} 
										div.sub
											| {{selectedFormat.name}} 
						li.dropdown-selector
							ul
								li(ng-repeat="list in formats", ng-click="setFormat(list.id, $index)", ng-show="showFormatList")
									img
									div.content
										div.main
											| {{list.name}}
										div.sub
											| {{list.name}}
								li(ng-click="setAdjustFormat()", ng-show="showFormatList")
									img
									div.content
										div.main
											| กำหนดขนาดเอง
								
			//- div.property-item
			//- 	div.topic
			//- 		| กำหนดขนาดเอง
			//- 	div.form
			//- 		input(type="text")
			//- 		span  X 
			//- 		input(type="text")
		div.property-wrapper
			div.property-item
				div.topic
					| พิมพ์หน้าหลัง
				div.selector
					div.control(ng-repeat="list in prints")
						div.option-content-wrapper
							input(type="radio", name="print", id="print{{$index}}", ng-click="setPrint($index)")
							label(for="print{{$index}}")
								img(ng-src="")
								div.content
									div.main
										| {{list.name}}
									div.sub
										| {{list.name}}
			div.property-item
				div.topic
					| พิมพ์สี
				div.selector
					div.control(ng-repeat="list in printColors")
						div.option-content-wrapper
							input(type="radio", name="printColor", id="printColor{{$index}}", ng-click="setPrintColor($index)")
							label(for="printColor{{$index}}")
								img(ng-src="")
								div.content
									div.main
										| {{list.name}}
									div.sub
										| {{list.name}}
		div.property-wrapper
			div.property-item
				div.topic
					| ประเภทกระดาษ
				div.dropdown-wrapper
					ul
						li.dropdown-header
							ul
								li(ng-click="showSelectPaperType()")#selectedPaperType
									img
									div.content
										div.main
											| {{selectedPaperType.name}} 
										div.sub
											| {{selectedPaperType.name}} 
						li.dropdown-selector
							ul
								li(ng-repeat="list in paperTypes | orderBy:'id'", ng-click="setPaperType(list.id, $index)", ng-show="showPaperTypeList")
									img
									div.content
										div.main
											| {{list.name}}
										div.sub
											| {{list.name}}
			div.property-item
				div.topic
					| การเคลือบ
				div.dropdown-wrapper
					ul
						li.dropdown-header
							ul
								li(ng-click="showRefinement()")#selectedRefinement
									img
									div.content
										div.main
											| {{selectedRefinement.name}} 
										div.sub
											| {{selectedRefinement.name}} 
						li.dropdown-selector
							ul
								li(ng-repeat="list in refinements | orderBy:'id'", ng-click="setRefinement(list.id, $index)", ng-show="showRefinementList")
									img
									div.content
										div.main
											| {{list.name}}
										div.sub
											| {{list.name}}
	div.order-step-separator
	div.header-wrapper
		| step 2 เลือกจำนวนและความเร็วในการจัดส่ง
		//- div.header-triangle
	div.order-step-wrapper
		div.order-step-header-wrapper
			div.order-step-header-row
				div.order-step-header-column
					div.icon
						i.fa.fa-truck
				div.order-step-header-column
					div.sub-order-step-header
						| จัดส่งไปที่
					div.order-step-header
						| กรุงเทพมหานคร
		div.delivery-choice-wrapper
			div.row
				div.column.blank.no-border
					| 
				div.cloumn.table-header.dark-cell.main-table-header
					| ราคาสิ่งพิมพ์พร้อมค่าจัดส่ง
			div.row
				div.column.no-border
					| 
				div.column.soft-table-header
					|	ด่วนพิเศษ
				div.column.soft-table-header
					| วันรับสินค้า
				div.column.soft-table-header
					| วันรับสินค้า
				div.column.soft-table-header
					| วันรับสินค้า
				div.column.soft-table-header
					| วันรับสินค้า
			div.row
				div.column.table-header.dark-cell
					| ปริมาณ
				div.column.delivery-date-wrapper(ng-repeat="dayAndDate in dayAndDate")
					div.delivery-day
						| {{dayAndDate.day}}
					div.delivery-date
						|	{{dayAndDate.date}}
			div.row(ng-repeat="item in prices")
				div.column.table-header
					| {{item.amount}} ชิ้น
				div.column(ng-if="$index !== 0")
					| 
				div.column.urgent-delivery(ng-if="$index == 0")
					| จัดส่งแบบด่วนพิเศษ?
				div.column.price(ng-repeat="price in item.priceOfDate")
					div.price-wrapper
						input(type="radio", id="price{{$parent.$index}}_{{$index}}", name="price", ng-click="setPrice($parent.$index,$index)")
						label(for="price{{$parent.$index}}_{{$index}}")
							div.full-and-per-one-wrapper
								div.full-price
									| {{price.fullprice}} .-
								div.per-one
									| {{price.perOne}} บาทต่อชิ้น

