div.order-form-wrapper(ng-controller="OrderFormCtrl")
	div.header-wrapper
		| {{webContent.firstStep}}
		//- div.header-triangle
	div.order-step-wrapper.form
		div.main-choice-wrapper
			div.topic#mainOption
				| {{webContent.printOption.printOption}} 
			div.choice-item
				div.main-choice-item
					div.option-content-wrapper
						label.upload-file-wrapper(ng-click="setMainChoice(0)")#choice1
							label(for="file").upload-file-button
								div.content
									div.main
										| {{webContent.printOption.designedOption}}
									div.sub
										| {{webContent.printOption.upload}}
							input(type="file", name="file", id="file")
				div.main-choice-item
					div.option-content-wrapper
						label(ng-click="setMainChoice(1)")#choice2
							div.content
								div.main
									| {{webContent.printOption.undesignedOption}}
								div.sub
									| {{webContent.printOption.rachaDesignOption}}
		div.property-wrapper
			div.property-item
				div.topic#size
					| {{webContent.sizeOption.sizeOption}}
				div.dropdown-wrapper
					ul
						li.dropdown-header
							ul
								li(ng-click="showFormat()")#selectedFormat
									img
									div.content
										div.main
											| {{selectedFormat.name}}
										div.sub
											| {{selectedFormat.description}}
						li.dropdown-selector
							ul
								li(ng-repeat="list in formats", ng-click="setFormat(list.id, $index)", ng-show="showFormatList")
									img
									div.content
										div.main
											| {{list.name}}
										div.sub
											| {{list.description}}
								li(ng-show="showFormatList", ng-click="setFormat(-1, -1)")
									img
									div.content
										div.main
											| {{webContent.sizeOption.designedOption}}
			div.property-item
				div.topic
					| {{webContent.sizeOption.printingSizeOption.printingSizeOption}}
				div.form
					div.input-wrapper
						input(type="text", disabled, ng-model="formatSize.width", ng-change="setWidth()", placeholder="{{webContent.sizeOption.printingSizeOption.width}}")#width
						span  X
						input(type="text", disabled, ng-model="formatSize.height", ng-change="setHeight()", placeholder="{{webContent.sizeOption.printingSizeOption.height}}")#height
						span  mm
		div.property-wrapper
			div.property-item
				div.topic#size
					| จำนวนหน้า
				div.form
					div.input-wrapper
						input(type="number", min="1", value="1")
			div.property-item
				div.topic#print
					| การเข้าเล่ม
				dropdown(item-id="selectedBookBindingDropdown", selected="selectedBookBinding", lists="bookBindings", item-click="showBookBindingDropdown()", show="showBookBindingList", set-value="setBookBinding")
		div.property-wrapper
			div.property-item
				div.topic#print
					| {{webContent.sideOption}}
				div.selector
					div.control(ng-repeat="list in prints")
						div.option-content-wrapper
							input(type="radio", name="print", id="print{{$index}}", ng-click="setPrint($index)")
							label(for="print{{$index}}")
								img(ng-src="")
								div.content
									div.main
										| {{list.name}}
									div.sub
										| {{list.description}}
			div.property-item
				div.topic#printColor
					| {{webContent.colorOption}}
				div.selector
					div.control(ng-repeat="list in printColors")
						div.option-content-wrapper
							input(type="radio", name="printColor", id="printColor{{$index}}", ng-click="setPrintColor($index)")
							label(for="printColor{{$index}}")
								img(ng-src="")
								div.content
									div.main
										| {{list.name}}
									div.sub
										| {{list.description}}
		div.property-wrapper
			div.property-item
				//- Paper Type
				div.topic#paperType
					| {{webContent.paperOption}}
				dropdown(item-id="selectedPaperType", selected="selectedPaperType", lists="paperTypes", item-click="showSelectPaperTypeDropdown()", show="showPaperTypeList", set-value="setPaperType")
			div.property-item
				div.topic#refinement
					| {{webContent.refinementOption}}
				dropdown(item-click="showRefinement()",item-id="selectedRefinement", selected="selectedRefinement", lists="refinements", set-value="setRefinement", show="showRefinementList")
		div.property-wrapper
			div.property-item
				div.topic#paperType
					| การเจาะรู
				//- TODO
				//- dropdown(item-click="showRefinement()",item-id="selectedRefinement", selected="selectedRefinement", lists="refinements", set-value="setRefinement", show="showRefinementList")
			div.property-item
				div.topic#refinement
					| การตกแต่ง
				//- TODO
				//- dropdown(item-click="showRefinement()",item-id="selectedRefinement", selected="selectedRefinement", lists="refinements", set-value="setRefinement", show="showRefinementList")
		div.property-wrapper
			div.property-item
				div.topic#paperType
					| รูปทรงสติ๊กเกอร์
				//- TODO
				//- dropdown(item-click="showRefinement()",item-id="selectedRefinement", selected="selectedRefinement", lists="refinements", set-value="setRefinement", show="showRefinementList")
			div.property-item
				div.topic#refinement
					| Sticker Delivery
				//- TODO
				//- dropdown(item-click="showRefinement()",item-id="selectedRefinement", selected="selectedRefinement", lists="refinements", set-value="setRefinement", show="showRefinementList")
		div.property-wrapper
			div.property-item
				div.topic#paperType
					| การพิมพ์ปก
				//- TODO
				//- dropdown(item-click="showRefinement()",item-id="selectedRefinement", selected="selectedRefinement", lists="refinements", set-value="setRefinement", show="showRefinementList")
			div.property-item
				div.topic#refinement
					| การพิมพ์ด้านใน
				//- TODO
				//- dropdown(item-click="showRefinement()",item-id="selectedRefinement", selected="selectedRefinement", lists="refinements", set-value="setRefinement", show="showRefinementList")

	//- Delivery
	div.order-step-separator
	div.header-wrapper
		| {{webContent.secondStep}}
		//- div.header-triangle
	div.order-step-wrapper
		div.order-step-header-wrapper#delivery
			div.order-step-header-row
				div.order-step-header-column
					div.icon
						i.fa.fa-truck
				div.order-step-header-column
					div.sub-order-step-header
						| {{webContent.deliveryLocation}}
					div.order-step-header
						| {{webContent.bangkok}}
		div.delivery-choice-wrapper
			div.row
				div.column.blank.no-border
				div.cloumn.table-header.dark-cell.main-table-header
					| {{webContent.totalPrice}}
			div.row
				div.column.no-border
				div.column.soft-table-header
					|	{{webContent.fastestDelivery}}
				div.column.soft-table-header
					| {{webContent.deliveredDate}}
				div.column.soft-table-header
					| {{webContent.deliveredDate}}
				div.column.soft-table-header
					| {{webContent.deliveredDate}}
				div.column.soft-table-header
					| {{webContent.deliveredDate}}
			div.row
				div.column.table-header.dark-cell
					| {{webContent.quantity}}
				div.column.delivery-date-wrapper(ng-repeat="dayAndDate in deliveryDayAndDate")
					div.delivery-day
						| {{dayAndDate.day}}
					div.delivery-date
						|	{{dayAndDate.date}}
			div.row(ng-repeat="item in prices")
				div.column.table-header
					| {{item.amount}} {{webContent.pieces}}
				div.column(ng-if="$index !== 0")
				div.column.urgent-delivery(ng-if="$index == 0")
					| {{webContent.fastestDelivery}}
				div.column.price(ng-repeat="price in item.priceOfDate")
					div.price-wrapper
						input(type="radio", id="price{{$parent.$index}}_{{$index}}", name="price", ng-click="setPrice($parent.$index,$index)")
						label(for="price{{$parent.$index}}_{{$index}}")
							div.full-and-per-one-wrapper
								div.full-price
									| {{price.fullprice}} .-
								div.per-one
									| {{price.perOne}} {{webContent.bahtPerPcs}}
