div(ng-include="templates.navbar")
//- div#orderDetailFixed.white-bg(ng-include="templates.orderDetailFixed")
div.white-bg(ng-include="templates.product")
div.gradient-green-on-top-bg(ng-include="templates.orderForm")
div#orderDetail.white-bg(ng-include="templates.orderDetail")
div.gradient-green-on-top-bg(ng-include="templates.footer")
div.base-green-bg(ng-include="templates.credit")
