div.product-wrapper(ng-controller="ProductCtrl")
	div.item(ng-repeat="product in products")
		div.img-wrapper
			img(src="product.img")
		div.content
			div.name {{product.name}}
			div.price {{product.price}}
