div.product-wrapper(ng-controller="ProductCtrl")
	div.header
		| บริการสิ่งพิมพ์ของเรา
	div.item-wrapper
		div.item(ng-repeat="product in products")
			div.img-wrapper
				img(src="product.img")
			div.content
				div.name {{product.name}}
				div.price ราคาเริ่มต้นที่ {{product.price}}.-
