div.horizontal-item-slide-wrapper(ng-controller="ProductCtrl")
	div.header
		span.hilight
			| {{webContent.languagepack_product_000001}}
	div.slide
		div.button-wrapper
			a.button(ng-click="left()")
				i
					span.icon.fa.fa-angle-left
		div.item-wrapper
			div.item(ng-repeat="product in products", id="product{{$index}}", ng-click="order(product.id)")
				div.img-wrapper
					img(src="product.img")
				div.content
					div.name {{product.name}}
					div.price {{webContent.languagepack_product_000002}} {{product.price}}.-
		div.button-wrapper
			a.button(ng-click="right()")
				i
					span.icon.fa.fa-angle-right
