div.review-wrapper(ng-controller="ReviewCtrl")
	div.header
		| การันตีรีวิวจากลูกค้า
	div.content-wrapper(ng-repeat="review in reviews")
		div.img-wrapper(ng-class="{ active: $index == activeIndex }")
			img(ng-src="{{review.customerImg}}")
		div.comment-info-wrapper(ng-class="{ active: $index == activeIndex }")
			div.comment-wrapper
				div.comment
					| {{review.customerReview}}
			div.customer-info
				| –
				div.name
					| {{review.customerName}}
				div.company(ng-if="review.customerCompany !== '-'")
					| {{review.customerCompany}}
	div.bullet-wrapper
		a.bullet(ng-repeat="review in reviews", ng-class="{ active: $index == activeIndex }", ng-click="changeReview($index)")