div.review-wrapper(ng-controller="ReviewCtrl")
	div.content-wrapper(ng-repeat="review in reviews")
		div.img-wrapper(ng-class="{ active: $index == activeIndex }")
			img
		div.comment-info-wrapper(ng-class="{ active: $index == activeIndex }")
			div.comment-wrapper
				div.comment
					| {{review.customerReview}}
			div.customer-info
				| –
				div.name
					| {{review.customerName}}
				div.company(ng-if="review.customerCompany !== '-'")
					| {{review.customerCompany}}