div.review-wrapper
	div.content-wrapper
		div.img-wrapper
			img
		div.comment-info-wrapper
			div.comment-wrapper
				div.comment
					| "Good Service"
			div.customer-info
				| –
				div.name
					| Aime
				div.company
					| Wherever