doctype html
html(ng-app='app')
head
    link(rel='stylesheet', href='/assets/css/font-awesome.css')
    link(rel='stylesheet', href='/assets/css/bulma.css')
    link(rel='stylesheet', href='/assets/css/main.css')
  body
    // Angular
    script(src='/assets/js/angular.min.js')
    script(src='/assets/js/angular-route.min.js')
    script(src='/assets/js/angular-scroll.min.js')
    
    // App Modules
    script(src='/assets/js/app.js')

    // Service
    script(src='/assets/js/services/order-detail.js')

    // Factories
    script(src='/assets/js/factories/product.js')
    script(src='/assets/js/factories/format.js')
    script(src='/assets/js/factories/print.js')
    script(src='/assets/js/factories/print-color.js')
    script(src='/assets/js/factories/paper-type.js')
    script(src='/assets/js/factories/refinement.js')

    // Controllers
    script(src='/assets/js/controllers/index.js')
    script(src='/assets/js/controllers/to-top.js')
    script(src='/assets/js/controllers/second.js')
    script(src='/assets/js/controllers/navbar-home.js')
    script(src='/assets/js/controllers/navbar.js')
    script(src='/assets/js/controllers/banner.js')
    script(src='/assets/js/controllers/product.js')
    script(src='/assets/js/controllers/product-slide.js')
    script(src='/assets/js/controllers/howto.js')
    script(src='/assets/js/controllers/review.js')
    script(src='/assets/js/controllers/example.js')
    script(src='/assets/js/controllers/footer.js')
    script(src='/assets/js/controllers/order.js')
    script(src='/assets/js/controllers/order-form.js')
    script(src='/assets/js/controllers/order-detail.js')


    

    // load views
    div(ng-view='')

