doctype html
html(ng-app='app')
head
    link(rel='stylesheet', href='/assets/css/font-awesome.css')
    link(rel='stylesheet', href='/assets/css/bulma.css')
    link(rel='stylesheet', href='/assets/css/main.css')
  body
    // Angular
    script(src='/assets/js/angular.min.js')
    script(src='/assets/js/angular-route.min.js')
    
    // App Modules
    script(src='/assets/js/app.js')
    script(src='/assets/js/controllers/index.js')
    script(src='/assets/js/controllers/second.js')
    script(src='/assets/js/controllers/navbar.js')
    script(src='/assets/js/controllers/banner.js')
    script(src='/assets/js/controllers/product.js')
    script(src='/assets/js/controllers/howto.js')
    script(src='/assets/js/controllers/review.js')
    script(src='/assets/js/controllers/example.js')
    script(src='/assets/js/controllers/footer.js')
    

    // load views
    div(ng-view='')

