// responsive break points
$break-xs: 576px;
$break-s: 768px;
$break-md: 992px;
$break-lg: 1200px;

// color palette
$cyan: #999;
$magenta: #666;
$yellow: #333;
$super-dark-grey: #333;
$grey: #999;
$white: #FFF;

// navbar
$navbar-height: 50px;

// slide
$slide-wrapper: 300px;
$slide-button-margin-side: 20px;
$slide-button-font-size: 60px;
$slide-button-margin-top: calc((#{$slide-wrapper}/2) - (#{$slide-button-font-size}/2)); 

// review
$customer-img-size: 150px;



html
  color: $super-dark-grey;

.super-dark-grey-bg
  background: $super-dark-grey;

.grey-bg
  background: $grey;

.white-bg
  background: $white;

.navbar
  padding: 10px 15px 10px 15px;
  background: rgba(255,255,255,0.5);
  .navbar-search
    margin-top: 5px;

.banner-wrapper
  height: $slide-wrapper;
  background: $super-dark-grey;
  .btn-wrapper.btn-navigator
    button.right
      border: 0;
      background: transparent;
      color: white;
      float: right;
      font-size: $slide-button-font-size;
      margin-right: $slide-button-margin-side;
      margin-top: $slide-button-margin-top;
    button.left
      border: 0;
      background: transparent;
      color: white;
      float: left;
      font-size: $slide-button-font-size;
      margin-left: $slide-button-margin-side;
      margin-top: $slide-button-margin-top;
.product-wrapper
  padding: 20px;
  overflow-x: scroll;
  .item-wrapper::-webkit-scrollbar
    width: 0px;
    background: transparent;
    display: none;
  .item-wrapper
    overflow-x: scroll;
    display: inline-flex;
    .item
      padding: 20px;
      .img-wrapper
        height: 200px;
        width: 200px;
        background: $magenta;
        margin: auto;
        border-radius: 50%;
      .content
        text-align: center;
        margin-top: 20px;
        .name
          font-size: 1.5em;
        .price
          font-size: 2em;
.howto-wrapper
  padding: 100px;
  .item-wrapper
    margin: auto;
    width: fit-content;
    display: flex;
    .step-wrapper
      display: flex;
      .item
        padding: 20px;
        text-align: center;
        .img-wrapper
          width: 150px;
          height: 150px;
          background: $super-dark-grey;
          border-radius: 50%;
        .description
          margin-top: 20px;
      .arrow-wrapper
        margin-top: 90px;
        display: flex;
        .arrow-body
          display: flex;
          .circle
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $super-dark-grey;
            margin-right: 8px;
        .arrow-head
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid $super-dark-grey;
          margin-top: -10px;
.review-wrapper
  padding: 100px;
  .content-wrapper
    border: solid 1px $grey;
    background: white;
    width: 100%;
    height: 300px;
    padding: 20px;
    display: flex;
    position: relative;
    .img-wrapper
      height: 150px;
      width: 150px;
      background: $super-dark-grey;
      border-radius: 50%;
      margin: 50px;
    .comment-info-wrapper
      text-align: right;
      position: absolute;
      right: 70px;
      margin-top: 50px;
      overflow: scroll;
      height: 150px;
      .customer-info
        margin-top: 20px;
        .name
          font-size: 1em;
        .company
          font-size: 0.8em;
      .comment-wrapper
        .comment
          font-size: 2em;
          font-style: italic;
    .comment-info-wrapper::-webkit-scrollbar
      width: 0px;
      background: transparent;
      display: none;
.example-wrapper
  padding: 100px;
  .item-wrapper
    display: -webkit-box;
    .item
      padding: 20px;
      .img-wrapper
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: $grey;
.footer-wrapper
  padding: 100px;
  .section-wrapper
    display: -webkit-inline-box;
    vertical-align: top;
    color: $grey;
    .section
      width: calc(100%/3);
      .content
        .social-icon-wrapper
          margin-top: 20px;
          padding-left: 0;
          display: grid;
          .social-icon
            padding: 5px;
            display: inline-flex;
            .contact-icon
              font-size: 1.5em;
              padding-right: 20px;  
            .contact-text
              font-size: 1em;
              margin-top: 0.5em;
    .section:not(:last-child)
      padding-right: 30px;